/* MaximeRobilLepretre_2_15012021 */

/************** Fonts **************/

/*
EOT : 	IE6 – IE8
WOFF : 	modern browsers
WOFF2 : latest versions of the most modern browsers
TTF : 	Safari, Android, iOS
SVG : 	IOS

font :  Raleway 
		3 variants available
		font-weight: 200;
		font-weight: normal;
		font-weight: bold;
*/

@font-face {
	font-family: 'Raleway';
	src: url('../assets/font/raleway/Raleway-Bold.eot');
	src: url('../assets/font/raleway/Raleway-Bold.eot?#iefix')
			format('embedded-opentype'),
		url('../assets/font/raleway/Raleway-Bold.woff2') format('woff2'),
		url('../assets/font/raleway/Raleway-Bold.woff') format('woff'),
		url('../assets/font/raleway/Raleway-Bold.ttf') format('truetype'),
		url('../assets/font/raleway/Raleway-Bold.svg#Raleway-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../assets/font/raleway/Raleway-ExtraLight.eot');
	src: url('../assets/font/raleway/Raleway-ExtraLight.eot?#iefix')
			format('embedded-opentype'),
		url('../assets/font/raleway/Raleway-ExtraLight.woff2') format('woff2'),
		url('../assets/font/raleway/Raleway-ExtraLight.woff') format('woff'),
		url('../assets/font/raleway/Raleway-ExtraLight.ttf') format('truetype'),
		url('../assets/font/raleway/Raleway-ExtraLight.svg#Raleway-ExtraLight')
			format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../assets/font/raleway/Raleway-Regular.eot');
	src: url('../assets/font/raleway/Raleway-Regular.eot?#iefix')
			format('embedded-opentype'),
		url('../assets/font/raleway/Raleway-Regular.woff2') format('woff2'),
		url('../assets/font/raleway/Raleway-Regular.woff') format('woff'),
		url('../assets/font/raleway/Raleway-Regular.ttf') format('truetype'),
		url('../assets/font/raleway/Raleway-Regular.svg#Raleway-Regular')
			format('svg');
	font-weight: normal;
	font-style: normal;
}

/************** Variables **************/

:root {
	--primary: #0065fc;
	--lighten-primary: #deebff;
	--grey: #f2f2f2;
	--white: #ffffff;
	--text-color: #000000;
	--radius: 20px;
	--shadow: 0 4px 10px 0 #e7e5e5;
}

/************** Base **************/

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.6;
	font-size: 1.6rem;
	color: var(--text-color);
	font-family: 'raleway', sans-serif;
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	margin: 1rem 0;
}

ul {
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--text-color);
}

a:hover {
	text-decoration: underline;
}

a:active,
a:focus {
	outline: 0;
}

fieldset {
	border: none;
	padding: 0;
}

legend {
	font-weight: 700;
}

figure {
	margin: 0;
}

figcaption ul {
	display: flex;
}

img {
	max-width: 100%;
	height: auto;
	-o-object-fit: contain;
	object-fit: contain;
}

/************** Utility **************/

.container {
	margin: auto;
	max-width: 1440px;
	padding: 0 2rem;
}

/**** Card ****/

.card {
	display: flex;
	overflow: hidden;
	margin: 12px 0;
	border-radius: var(--radius);
}

.card__container {
	display: flex;
	width: 100%;
	background-color: var(--white);
	border-radius: var(--radius);
	padding: 5px;
}

.card__img {
	position: relative;
	display: flex;
	flex: 1.2;
	border-radius: 15px 0 0 15px;
	min-height: 100%;
	overflow: hidden;
}

.card__img img {
	position: absolute;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.card__text-block {
	display: flex;
	flex: 2;
	flex-direction: column;
	justify-content: space-around;
}

.card__text-block h3 {
	margin: 0.5rem 0.75rem 0 2rem;
	font-size: 1.8rem;
	line-height: 2.4rem;
}

.card__text-block ul {
	margin: 0.5rem 0.75rem 0.25rem 2rem;
}

.card__text-block i[data-active='true'] {
	color: var(--primary);
}

.card__text-block i[data-active='false'] {
	color: var(--grey);
}

/************** navbar **************/

/************** header **************/

header h1 {
	font-size: 2.5rem;
	line-height: 3rem;
}

/************** form **************/

form {
	margin: 2.5rem 0;
}

/************** 1st section_filters **************/

#filters {
	margin: 0 0 3rem 0;
}

#filters h2 {
	font-size: 2rem;
}

/************** 2nd section_popular **************/

#popular {
	background-color: var(--grey);
	margin: 0 0 3rem 0;
	padding: 2rem;
}

#popular header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

#popular header h2 {
	font-size: 2.5rem;
}

#popular header i {
	font-size: 2.3rem;
}

.card--popular {
	height: 15rem;
}

.card--popular p {
	margin: 0 0.75rem 2rem 2rem;
}

/************** 1st article_lodging **************/

#lodging {
	margin: 0 0 5rem 0;
}

.card--lodging {
	height: 22rem;
	box-shadow: var(--shadow);
}

.card__container--lodging {
	flex-direction: column;
}

.card__img--lodging {
	width: 100%;
	min-height: 60%;
	border-radius: 15px 15px 0 0;
}

.card--lodging p {
	margin: 0 0.75rem 0 2rem;
}

/************** 2nd article_activities **************/

.card--activities {
	height: 22rem;
	box-shadow: var(--shadow);
}

.card__container--activities {
	flex-direction: column;
}

.card__img--activities {
	width: 100%;
	min-height: 60%;
	border-radius: 15px 15px 0 0;
}

#activities h3 {
	margin: 1.2rem 1rem 1rem 2rem;
}

/************** footer **************/

footer {
	padding: 2rem 2rem;
	background-color: var(--grey);
}

footer section {
	padding: 0.5rem 0;
}

footer section ul {
	line-height: 3.2rem;
}
