/* MaximeRobilLepretre_2_15012021 */

/************** Fonts **************/
/*
EOT : 	IE6 – IE8
WOFF : 	modern browsers
WOFF2 : latest versions of the most modern browsers
TTF : 	Safari, Android, iOS
SVG : 	IOS

font :  Raleway 
		3 variants available
		font-weight: 200;
		font-weight: normal;
		font-weight: bold;
*/

@font-face {
	font-family: 'Raleway';
	src: url('../assets/font/raleway/Raleway-Bold.eot');
	src: url('../assets/font/raleway/Raleway-Bold.eot?#iefix')
			format('embedded-opentype'),
		url('../assets/font/raleway/Raleway-Bold.woff2') format('woff2'),
		url('../assets/font/raleway/Raleway-Bold.woff') format('woff'),
		url('../assets/font/raleway/Raleway-Bold.ttf') format('truetype'),
		url('../assets/font/raleway/Raleway-Bold.svg#Raleway-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../assets/font/raleway/Raleway-ExtraLight.eot');
	src: url('../assets/font/raleway/Raleway-ExtraLight.eot?#iefix')
			format('embedded-opentype'),
		url('../assets/font/raleway/Raleway-ExtraLight.woff2') format('woff2'),
		url('../assets/font/raleway/Raleway-ExtraLight.woff') format('woff'),
		url('../assets/font/raleway/Raleway-ExtraLight.ttf') format('truetype'),
		url('../assets/font/raleway/Raleway-ExtraLight.svg#Raleway-ExtraLight')
			format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../assets/font/raleway/Raleway-Regular.eot');
	src: url('../assets/font/raleway/Raleway-Regular.eot?#iefix')
			format('embedded-opentype'),
		url('../assets/font/raleway/Raleway-Regular.woff2') format('woff2'),
		url('../assets/font/raleway/Raleway-Regular.woff') format('woff'),
		url('../assets/font/raleway/Raleway-Regular.ttf') format('truetype'),
		url('../assets/font/raleway/Raleway-Regular.svg#Raleway-Regular')
			format('svg');
	font-weight: normal;
	font-style: normal;
}

/************** Variables **************/
:root {
	--primary: #0065fc;
	--lighten-primary: #deebff;
	--grey: #f2f2f2;
	--text-color: #000000;
	--radius: 10px;
	--shadow: 0 4px 10px 0 #e7e5e5;
}

/************** Base **************/
html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.6;
	font-size: 1.6rem;
	color: var(--text-color);
	font-family: 'raleway', sans-serif;
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	margin: 1rem 0;
}

ul {
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--text-color);
}

a:hover {
	text-decoration: underline;
}

a:active,
a:focus {
	outline: 0;
}

fieldset {
	border: none;
	padding: 0;
}

legend {
	font-weight: 700;
}

figure {
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
	-o-object-fit: contain;
	object-fit: contain;
}

/************** Utility **************/
.container {
	margin: auto;
	max-width: 1440px;
	padding: 0 1rem;
}

/************** Header **************/
/************** 1st section_search and filters **************/
/************** 2nd section_lodging **************/
/************** 3rd section_activities **************/
/************** Footer **************/
